# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
SocketFornt/node_modules
SocketFornt/.pnp
SocketFornt/.pnp.js

# testing
SocketFornt/coverage

# next.js
SocketFornt/.next/
SocketFornt/out/

# production
SocketFornt/build

# misc
SocketFornt/.DS_Store
SocketFornt/*.pem

# debug
SocketFornt/npm-debug.log*
SocketFornt/yarn-debug.log*
SocketFornt/yarn-error.log*
SocketFornt/.pnpm-debug.log*

# local env files
SocketFornt/.env*.local

# vercel
SocketFornt/.vercel

# typescript
SocketFornt/*.tsbuildinfo
SocketFornt/next-env.d.ts
socketBack/node_modules